section#my-section
  
  #wrap-cta.active
      button#cta Click here, please!
      
  svg(viewBox="0 0 215 110" preserveAspectRatio="none")
    polygon(
      class="polymorph"
      points="215,110 0,110 0,0 215,0"
    )
    
  .container
    #content
      h1 Lorem ipsum dolor sit amet
      p Dolor sit amet et consectquo lorem ipsum dolor sit amet
      button#close Ok, close me